<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hack pilot">

<listeners>
    <listener class-name="listener.TestsListenerAdapter" />
    
</listeners>


<test name="All Menu">
    <classes>
        <class name="com.abchack.testcases.HackTests" ></class>  
    </classes>
</test>



</suite>
